@import url('https://fonts.googleapis.com/css2?family=Nata+Sans:wght@100..900&display=swap');
@import "tailwindcss";

@custom-variant hover (&:hover);
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-main:  "Nata Sans", sans-serif;

  --color-primary: #1c1415;
  --color-secondary: #ebd8d0;
  --color-accent-gold: #9a6e40;
  --color-accent-maroon: #663235;
  --color-text-main: #c4ccd5;
  --color-text-secondary: #b8c2d4;
  --color-support-gray-light: #8d94a0;
  --color-support-gray-dark: #525665;
}
